
@using NiksoftCore.Bourse.Service
@model BourseUserRequest
@{
    ViewData["Title"] = "ایجاد بازاریاب";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/MarketerBoard" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/MarketerBoard/AddConsultant" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <fieldset>
                    <legend>حساب کاربری</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtEmail" class="control-label">ایمیل</label>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "ایمیل", @class = "form-control emp-check", @id = "txtEmail" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtNCode" class="control-label">کد ملی (نام کاربری هم می باشد)</label>
                                @Html.TextBoxFor(m => m.NCode, new { placeholder = "کد ملی", @class = "form-control emp-check", @id = "txtNCode", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtPassword" class="control-label">رمز عبور</label>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "رمز عبور", @class = "form-control emp-check", @id = "txtPassword", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtConfirmedPassword" class="control-label">تکرار رمز عبور</label>
                                @Html.PasswordFor(m => m.ConfirmedPassword, new { placeholder = "تکرار رمز عبور", @class = "form-control emp-check", @id = "txtConfirmedPassword", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>اطلاعات فردی</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtFirstname" class="control-label">نام</label>
                                @Html.TextBoxFor(m => m.Firstname, new { placeholder = "نام کاربری", @class = "form-control emp-check", @id = "txtFirstname" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtLastname" class="control-label">نام خانوادگی</label>
                                @Html.TextBoxFor(m => m.Lastname, new { placeholder = "نام خانوادگی", @class = "form-control emp-check", @id = "txtLastname" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Gender" class="control-label">جنسیت</label>
                                <select class="form-control m-b" asp-for="Gender" asp-items="ViewBag.Genders">
                                    <option selected="selected" value="0">انتخاب کنید</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtUserCode" class="control-label">کد مشاور بازاریابی</label>
                                @Html.TextBoxFor(m => m.UserCode, new { placeholder = "کد مشاور بازاریابی", @class = "form-control emp-check", @id = "txtUserCode" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtMobile" class="control-label">موبایل</label>
                                @Html.TextBoxFor(m => m.Mobile, new { placeholder = "موبایل", @class = "form-control emp-check", @id = "txtMobile", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtTel" class="control-label">تلفن</label>
                                @Html.TextBoxFor(m => m.Tel, new { placeholder = "تلفن", @class = "form-control", @id = "txtTel" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtBirthDate" class="control-label">تاریخ تولد</label>
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control datepicker", @id = "txtBirthDate" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtZipCode" class="control-label">کد پستی</label>
                                @Html.TextBoxFor(m => m.ZipCode, new { placeholder = "کد پستی", @class = "form-control emp-check", @id = "txtZipCode" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ProvinceId" class="control-label">استان</label>
                                <select class="form-control m-b" asp-for="ProvinceId" asp-items="ViewBag.Provinces">
                                    <option selected="selected" value="0">انتخاب کنید</option>
                                </select>
                                <span asp-validation-for="ProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ddlCity" class="control-label">شهر</label>
                                <select class="form-control m-b" id="ddlCity" name="CityId">
                                    <option selected="selected" value="0">انتخاب کنید</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="AvatarFile" class="btn btn-warning">
                                    (اختیاری) تصویر چهره
                                    <input asp-for="AvatarFile" type="file" class="d-none" />
                                </label>
                                @if (!string.IsNullOrEmpty(Model.Avatar))
                                {
                                    <img src="/@Model.Avatar" style="max-height: 80px;" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="NCardFile" class="btn btn-warning">
                                    تصویر کارت ملی
                                    <input asp-for="NCardFile" type="file" class="d-none" />
                                </label>
                                @if (!string.IsNullOrEmpty(Model.NCardImage))
                                {
                                    <img src="/@Model.NCardImage" style="max-height: 80px;" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="IdCardFile" class="btn btn-warning">
                                    تصویر شناسنامه
                                    <input asp-for="IdCardFile" type="file" class="d-none" />
                                </label>
                                @if (!string.IsNullOrEmpty(Model.IdCardImage))
                                {
                                    <img src="/@Model.IdCardImage" style="max-height: 80px;" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtAddress" class="control-label">آدرس</label>
                                @Html.TextAreaFor(m => m.Address, new { placeholder = "آدرس", @class = "form-control", @id = "txtAddress", rows = "3" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>اطلاعات بانکی</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtBankName" class="control-label">نام بانک</label>
                                @Html.TextBoxFor(m => m.BankName, new { placeholder = "بانک", @class = "form-control emp-check", @id = "txtBankName" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtBranchName" class="control-label">نام شعبه</label>
                                @Html.TextBoxFor(m => m.BranchName, new { placeholder = "نام شعبه", @class = "form-control emp-check", @id = "txtBranchName" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="txtBranchCode" class="control-label">کد شعبه</label>
                                @Html.TextBoxFor(m => m.BranchCode, new { placeholder = "کد شعبه", @class = "form-control emp-check", @id = "txtBranchCode" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtPAN" class="control-label">شماره حساب</label>
                                @Html.TextBoxFor(m => m.PAN, new { placeholder = "شماره حساب", @class = "form-control emp-check", @id = "txtPAN" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtIBAN" class="control-label">شماره شبا</label>
                                @Html.TextBoxFor(m => m.IBAN, new { placeholder = "IR...", @class = "form-control emp-check", @id = "txtIBAN" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ProfileId)
                @Html.HiddenFor(m => m.BankId)
                @Html.HiddenFor(m => m.BranchId)
                <br />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var ddls = {
        country: 0,
        province: 0,
        city: 0
    }

    $(document).ready(function () {

        $('#ProvinceId').change(function () {
            getCity(this.value);
        });

        ddls.province = @Model.ProvinceId;
        ddls.city = @Model.CityId;

        if (ddls.province > 0) {
            getCity(ddls.province);
        }

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });

    function getCity(pId) {
        callApi({
            url: '/api/base/AddressApi/GetCity',
            data: { provinceId: pId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlCity',
                        data: response.data
                    });

                    if (ddls.city > 0) {
                        setItemDropdown({
                            ddl: '#ddlCity',
                            value: ddls.city
                        });
                    }
                }
            }
        });
    }

</script>