@using NiksoftCore.SystemBase.Service;
@using NiksoftCore.Bourse.Service;
@model MyTicketSearch
@{
    ViewData["Title"] = "تیکت ها";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<Ticket>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;

    var isSearch = (bool)ViewBag.Search;
    var accSearch = isSearch ? "class='accordion-collapse collapse show'" : "class='accordion-collapse collapse'";
    var accBtn = isSearch ? "aria-expanded='true'" : "";
}
<div class="text-right">
    <a href="#searchAcc" data-toggle="collapse" class="btn btn-outline-info btn-sm" @Html.Raw(accBtn)>
        <i class="fa fa-search"></i>
    </a>
</div>
<div id="searchAcc" @Html.Raw(accSearch) aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <hr />
        <form method="get">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="txtTitle" class="control-label">عنوان</label>
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="CategoryId" class="control-label">وضعیت</label>
                        <select class="form-control m-b" asp-for="Status" asp-items="ViewBag.Statuses">
                            <option selected="selected" value="0">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="CategoryId" class="control-label">دسته بندی</label>
                        <select class="form-control m-b" asp-for="CategoryId" asp-items="ViewBag.Categories">
                            <option selected="selected" value="0">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="PriorityId" class="control-label">اولویت</label>
                        <select class="form-control m-b" asp-for="PriorityId" asp-items="ViewBag.Priorities">
                            <option selected="selected" value="0">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="PriorityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-1" style="padding-top: 29px;">
                    <button type="submit" class="btn btn-outline-info">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">اولویت</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center" width="200px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>
                        <span style="width: 20px; height: 20px; display: inline-block; background: @Html.Raw(item.Priority.HexCode); vertical-align: middle;"></span>
                        <span>اولویت @item.Priority.Title</span>
                    </td>
                    <td>@item.Title</td>
                    <td>
                        @if (item.Status == TicketStatus.Answered)
                        {
                            <span class="badge badge-warning">@item.Status.TicketStatusName() @item.TicketAnswers.Count</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">@item.Status.TicketStatusName()</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group-sm">
                            <a href="/Panel/TicketManager/SpecCreateAnswer/?TicketId=@item.Id" class="btn btn-outline-success btn-sm">
                                پاسخ
                            </a>
                            @if (item.Status != TicketStatus.Rejected)
                            {
                                <a href="/Panel/TicketManager/SpecRejectTicket/?TicketId=@item.Id" class="btn btn-outline-danger btn-sm">
                                    عدم پاسخ
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pager">
    @if (pager.TotalSize > pager.PageSize)
    {
        <ul class="pagination m-b-5">
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>

            @if (pager.GetStartShow() >= pager.MaxShow)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
            }

            @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
            {
                if (pager.Part == i)
                {
                    <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }

            }

            @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
            }
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
    }

</div>