@using NiksoftCore.ITCF.Service
@using NiksoftCore.Utilities;
@{
    ViewData["Title"] = "پیگیری سفارش ها";
    Layout = "~/Areas/Business/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    var Contents = (List<UserPurchase>)ViewBag.Contents;
}

<div class="content-wrapper">
    <section class="content-section">
        <div class="container">
            <div class="section-header">
                <h1>پیگیری سفارش ها</h1>
                <span><i></i></span>
            </div>

            <div class="row">
                <div class="col-md-9 col-content">
                    <div class="cart-table">
                        <table class="products-table">
                            <thead>
                                <tr>
                                    <th width="70px">کد سفارش</th>
                                    <th class="product-item">محصول</th>
                                    <th class="product-price">پیش پرداخت (ریال)</th>
                                    <th class="product-price">قیمت کل (ریال)</th>
                                    <th width="50px">تعداد</th>
                                    <th width="70px">وضعیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Contents)
                                {
                                    var totalAmount = (item.UnitAmount * item.Count) + item.TransportAmount;
                                    <tr class="cart_table_item">
                                        <td>
                                            @item.Id
                                        </td>
                                        <td class="product-item">
                                            <img src="/@item.Product.Image" alt="@item.Product.Title">
                                            <div class="title">
                                                <a href="/Business/ProductInCategory/SingleProduct/@item.Product.Id">@item.Product.Title</a>
                                            </div>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">@item.PrePayment.ToString("N0")</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">@totalAmount.ToString("N0")</span>
                                        </td>
                                        <td>
                                            @item.Count
                                        </td>
                                        <td class="product-subtotal">
                                            @item.Status.GetDisplayName()
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @if (pager.TotalSize > pager.PageSize)
                        {
                            <ul class="page-numbers">

                                <li><a class="prev page-numbers" href="@Context.Request.Path?part=1">نخست</a></li>
                                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                                {
                                    if (pager.Part == i)
                                    {
                                        <li><span class="page-numbers current">@i</span></li>
                                    }
                                    else
                                    {
                                        <li><a class="page-numbers" href="@Context.Request.Path?part=@i">@i</a></li>
                                    }

                                }
                                <li><a class="next page-numbers" href="@Context.Request.Path?part=@pager.GetTotalParts()">آخر</a></li>
                            </ul>
                        }
                    </div>
                </div>

                <div class="col-md-3 col-sidebar">
                    <div class="sidebar">
                        @await Component.InvokeAsync("WProfileMenu")
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>