@using NiksoftCore.Bourse.Service;
@model ContractRequest
@{
    ViewData["Title"] = "ایجاد قرارداد";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/MasterBoard/MarketerContracts/?BranchId=@Model.BranchId&UserId=@Model.UserId" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/MasterBoard/AddContract" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtUserFullName" class="control-label">نام طرف قرارداد</label>
                    @Html.TextBoxFor(m => m.UserFullName, new { placeholder = "نام", @class = "form-control", @id = "txtUserFullName" })
                    @Html.ValidationMessageFor(m => m.UserFullName)
                </div>
                <div class="form-group">
                    <label for="txtContractNumber" class="control-label">شماره قرارداد</label>
                    @Html.TextBoxFor(m => m.ContractNumber, new { placeholder = "شماره قرارداد", @class = "form-control", @id = "txtContractNumber" })
                    @Html.ValidationMessageFor(m => m.ContractNumber)
                </div>
                <div class="form-group">
                    <label for="txtUserCode" class="control-label">کد طرف قرارداد</label>
                    @Html.TextBoxFor(m => m.UserCode, new { placeholder = "0", @class = "form-control", @id = "txtUserCode" })
                    @Html.ValidationMessageFor(m => m.UserCode)
                </div>
                <div class="form-group">
                    <label for="txtContractDate" class="control-label">تاریخ قرارداد</label>
                    @Html.TextBoxFor(m => m.ContractDate, new { @class = "form-control datepicker", @id = "txtContractDate" })
                </div>
                <div class="form-group">
                    <label for="txtStartDate" class="control-label">تاریخ شروع</label>
                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker", @id = "txtStartDate" })
                </div>
                <div class="form-group">
                    <label for="txtEndDate" class="control-label">تاریخ پایان</label>
                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker", @id = "txtEndDate" })
                </div>
                <div class="form-group">
                    <label for="txtDeadline" class="control-label">(روز) مهلت</label>
                    @Html.TextBoxFor(m => m.Deadline, new { placeholder = "0", @class = "form-control", @id = "txtDeadline" })
                    @Html.ValidationMessageFor(m => m.Deadline)
                </div>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.BranchId)
                @Html.HiddenFor(m => m.UserId)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>