@using NiksoftCore.SystemBase.Service;
@using NiksoftCore.Bourse.Service;
@model MarketerContractSearch
@{
    ViewData["Title"] = "مدیریت قرارداد";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<Contract>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;

    var isSearch = (bool)ViewBag.Search;
    var accSearch = isSearch ? "class='accordion-collapse collapse show'" : "class='accordion-collapse collapse'";
    var accBtn = isSearch ? "aria-expanded='true'" : "";
}
<div class="text-right">
    <a href="/Panel/MasterBoard/AddContract/?UserId=@Model.UserId&BranchId=@Model.BranchId" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    <a href="/Panel/MasterBoard/Marketers/?BranchId=@Model.BranchId" class="btn btn-outline-info btn-sm">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">تاریخ</th>
                <th class="text-primary text-center">شماره قرارداد</th>
                <th class="text-primary text-center">طرف قرارداد</th>
                <th class="text-primary text-center">کد طرف قرارداد</th>
                <th class="text-primary text-center">نام طرف قرارداد</th>
                <th class="text-primary text-center">تاریخ شروع</th>
                <th class="text-primary text-center">تاریخ پایان</th>
                <th class="text-primary text-center">مهلت</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center">نرخ ها</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.ContractDate.ToPersianDateTime().ToPersianDigitalDateString()</td>
                    <td>@item.ContractNumber</td>
                    <td>
                        @if (item.ContractType == ContractType.Marketer)
                        {
                            <span>بازاریاب شعبه</span>
                        }
                        else
                        {
                            <span>مشاور بازاریابی</span>
                        }
                    </td>
                    <td>@item.UserCode</td>
                    <td>@item.UserFullName</td>
                    <td>@item.StartDate.ToPersianDateTime().ToPersianDigitalDateString()</td>
                    <td>@item.EndDate.ToPersianDateTime().ToPersianDigitalDateString()</td>
                    <td>@item.Deadline روز</td>
                    <td>@item.Status.GetContractStatus()</td>
                    <td>
                        <a href="/Panel/MasterBoard/ContractFees/?ContractId=@item.Id" class="btn btn-outline-info btn-sm">نرخ‌ها <span class="badge badge-info">@item.ContractFees.Count</span></a>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/MasterBoard/AddContract/?Id=@item.Id&UserId=@item.UserId&BranchId=@item.BranchId" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/MasterBoard/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pager">
    @if (pager.TotalSize > pager.PageSize)
    {
        <ul class="pagination m-b-5">
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>

            @if (pager.GetStartShow() >= pager.MaxShow)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
            }

            @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
            {
                if (pager.Part == i)
                {
                    <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }

            }

            @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
            }
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
    }

</div>