@using NiksoftCore.SystemBase.Service
@{
    Layout = "~/Views/Shared/_FaLayout.cshtml";
    var contents = (List<GeneralContent>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
}

<section class="blog" id="blog">
    <div class="section-title dright top_30 bottom_45">
        <h2>رویدادها</h2>
    </div>
    <div class="row">
        @foreach (var item in contents)
        {
            <a href="/News/Single/@item.Id" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-image">
                    <img src="~/@item.Image">
                </div>
                <h2 class="blog-title">@item.Title</h2>
                <p>@item.Header</p>
                @*<span class="blog-info"><span>بخش خبری</span></span>*@
            </a>
        }
    </div>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</section>

