@using NiksoftCore.SystemBase.Service;
@using NiksoftCore.Bourse.Service;
@model MediaSearch
@{
    ViewData["Title"] = "مدیریت رسانه های من";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<Media>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;

    var isSearch = (bool)ViewBag.Search;
    var accSearch = isSearch ? "class='accordion-collapse collapse show'" : "class='accordion-collapse collapse'";
    var accBtn = isSearch ? "aria-expanded='true'" : "";
}
<style>
    .copy-input {
        height: 0;
        width: 0;
        padding: 0 !important;
        border: none !important;
    }
</style>

<div class="text-right">
    <a href="/Panel/AdvertiserBoard/AddMedia" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    <a href="#searchAcc" data-toggle="collapse" class="btn btn-outline-info btn-sm" @Html.Raw(accBtn)>
        <i class="fa fa-search"></i>
    </a>
</div>
<div id="searchAcc" @Html.Raw(accSearch) aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <hr />
        <form method="get">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="BranchId" class="control-label">نوع رسانه</label>
                        <select class="form-control m-b" asp-for="CategoryId" asp-items="ViewBag.Categories">
                            <option selected="selected" value="0">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txtTitle" class="control-label">عنوان</label>
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                    </div>
                </div>
                <div class="col-sm-3" style="padding-top: 29px;">
                    <button type="submit" class="btn btn-outline-info">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">موضوع</th>
                <th class="text-primary text-center">آدرس اصلی</th>
                <th class="text-primary text-center">آدرس کامل</th>
                <th class="text-primary text-center">کپی لینک</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.Title</td>
                    <td>@item.Subject</td>
                    <td>
                        @item.BaseLink
                    </td>
                    <td>@item.FullLink</td>
                    <td>
                        <button type="button" class="btn btn-outline-info btn-sm copy-link" data-input="#ci_@item.Id">کپی لینک</button>
                        <input id="ci_@item.Id" class="copy-input" type="text" value="http://171.22.25.82/@item.GeneratedLink" />
                    </td>
                    <td>@item.Status.GetMediaStatus()</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/AdvertiserBoard/AddMedia/?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/AdvertiserBoard/RemoveMedia?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pager">
    @if (pager.TotalSize > pager.PageSize)
    {
        <ul class="pagination m-b-5">
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>

            @if (pager.GetStartShow() >= pager.MaxShow)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
            }

            @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
            {
                if (pager.Part == i)
                {
                    <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                }

            }

            @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
            {
                <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
            }
            <li class="page-item">
                <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
    }

</div>

<script>
    $(document).ready(function () {
        $('.copy-link').on('click', function () {
            var input = $($(this).data('input'))[0];
            input.select();
            input.setSelectionRange(0, 99999);
            document.execCommand("copy");
            showMessage({
                text: 'کپی لینک انجام شد',
                type: 'success'
            });
        });
    });
</script>