@using NiksoftCore.Bourse.Service;
@model FeeRequest
@{
    ViewData["Title"] = "ایجاد نرخ جدید";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/FeeManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/FeeManage/Create" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان شعبه", @class = "form-control", @id = "txtTitle" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div class="form-group">
                    <label for="FeeType" class="control-label">نوع کارمزد</label>
                    <select class="form-control m-b" asp-for="FeeType" asp-items="ViewBag.FeeTypes">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group staires" style="display: none;">
                    <label for="txtFromAmount" class="control-label">مبلغ از</label>
                    @Html.TextBoxFor(m => m.FromAmount, new { placeholder = "0", @class = "form-control", @id = "txtFromAmount" })
                    @Html.ValidationMessageFor(m => m.FromAmount)
                </div>
                <div class="form-group staires" style="display: none;">
                    <label for="txtToAmount" class="control-label">مبلغ تا</label>
                    @Html.TextBoxFor(m => m.ToAmount, new { placeholder = "0", @class = "form-control", @id = "txtToAmount" })
                    @Html.ValidationMessageFor(m => m.ToAmount)
                </div>
                <div class="form-group">
                    <label for="txtAmountPercentage" class="control-label">درصد کارمزد</label>
                    @Html.TextBoxFor(m => m.AmountPercentage, new { placeholder = "درصد کارمزد", @class = "form-control", @id = "txtAmountPercentage" })
                    @Html.ValidationMessageFor(m => m.AmountPercentage)
                </div>
                @Html.HiddenFor(m => m.Id)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        @if (Model.FeeType == 2) {
            <text>
            $('.staires').show();
            </text>
        }

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }

        $('#FeeType').on('change', function () {
            if (this.value == 1) {
                console.log('hid');
                $('.staires').hide();
            } else {
                console.log('show');
                $('.staires').show();
            }
        });
    });
</script>