@using NiksoftCore.SystemBase.Service
@{
    ViewData["Title"] = "مدیریت محتوا";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var contents = (List<GeneralContent>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
    var category = (ContentCategory)ViewBag.Caregory;
}
<div class="help text-center">
    <p class="text-center">
        <img src="/@category.Image" width="50%" />
    </p>
    <p>
        @category.Description
    </p>
</div>


<div class="text-right">
    <a href="/Panel/CustomContentManage/Create?CategoryId=@category.Id" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    <a href="/Panel/CustomContentManage?ParentId=@category.ParentId" class="btn btn-outline-info btn-sm">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>

<br />

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">دسته بالاتر</th>
                <th class="text-primary text-center">تصویر</th>
                <th class="text-primary text-center">توضیحات</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.Title</td>
                    <td>
                        @item.ContentCategory.Title
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="/@item.Image" style="height: 70px; width: 70px;" />
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#mod_@item.Id">جزئیات</button>
                        <div id="mod_@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title m-0" id="custom-width-modalLabel">متن های محتوا</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <h4>متن لید</h4>
                                        <div>@Html.Raw(item.Header)</div>
                                        <h4>متن اصلی</h4>
                                        <div>@Html.Raw(item.BodyText)</div>
                                        <h4>متن پایین</h4>
                                        <div>@Html.Raw(item.Footer)</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/CustomContentManage/Create?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/CustomContentManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @if (pager.GetStartShow() >= pager.MaxShow)
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
                }

                @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }

                @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>