@using NiksoftCore.SystemBase.Service
@model NiksoftCore.ViewModel.ContentRequest
@{
    ViewData["Title"] = "ایجاد محتوا";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var category = (ContentCategory)ViewBag.Category;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/CustomContentManage/ContentList?CategoryId=@Model.CategoryId" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/CustomContentManage/Create" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="txtKeyValue" class="control-label">کلید(انگلیسی)</label>
                    @Html.TextBoxFor(m => m.KeyValue, new { placeholder = "key", @class = "form-control", @id = "txtKeyValue" })
                </div>
                <div class="form-group">
                    <label for="txtIcon" class="control-label">آیکن</label>
                    @Html.TextBoxFor(m => m.Icon, new { placeholder = "آیکن", @class = "form-control", @id = "txtIcon" })
                </div>
                <div class="form-group">
                    <label for="ImageFile" class="btn btn-warning">
                        انتخاب فایل
                        <input asp-for="ImageFile" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtHeader" class="control-label">لید</label>
                    @Html.TextAreaFor(m => m.Header, new { placeholder = "توضیحات", @class = "form-control", @id = "txtHeader", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtBodyText" class="control-label">متن اصلی</label>
                    @Html.TextAreaFor(m => m.BodyText, new { @class = "form-control text-editor", @id = "txtBodyText", rows = "8" })
                </div>
                <div class="form-group">
                    <label for="txtFooter" class="control-label">متن پایین</label>
                    @Html.TextAreaFor(m => m.Footer, new { placeholder = "توضیحات", @class = "form-control", @id = "txtFooter", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtLink" class="control-label">مسیر لینک</label>
                    @Html.TextBoxFor(m => m.Link, new { placeholder = "لینک", @class = "form-control", @id = "txtLink" })
                </div>
                <div class="form-group">
                    <label for="txtLinkTitle" class="control-label">عنوان لینک</label>
                    @Html.TextBoxFor(m => m.LinkTitle, new { placeholder = "ادامه مطلب", @class = "form-control", @id = "txtLinkTitle" })
                </div>
                @Html.HiddenFor(m => m.CategoryId)
                @Html.HiddenFor(m => m.Id)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>