
@model NiksoftCore.ITCF.Service.BusinessCategoryRequest
@{
    ViewData["Title"] = "ایجاد دسته بندی";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/BusinessCategoryManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/BusinessCategoryManage/Edit" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان فارسی</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان فارسی", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="txtEnTitle" class="control-label">عنوان انگلسی</label>
                    @Html.TextBoxFor(m => m.EnTitle, new { placeholder = "عنوان انگلسی", @class = "form-control", @id = "txtEnTitle" })
                </div>
                <div class="form-group">
                    <label for="txtArTitle" class="control-label">عنوان عربی</label>
                    @Html.TextBoxFor(m => m.ArTitle, new { placeholder = "عنوان عربی", @class = "form-control", @id = "txtArTitle" })
                </div>
                <div class="form-group">
                    <label for="ParentId" class="control-label">دسته بالاتر</label>
                    <select class="form-control m-b" asp-for="ParentId" asp-items="ViewBag.Parents">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="txtIcon" class="control-label">آیکن</label>
                    @Html.TextBoxFor(m => m.Icone, new { placeholder = "آیکن", @class = "form-control", @id = "txtIcon" })
                </div>
                <div class="form-group">
                    <label for="ImageFile" class="btn btn-warning">
                        انتخاب فایل
                        <input asp-for="ImageFile" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtDesc" class="control-label">توضیحات فارسی</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "توضیحات فارسی", @class = "form-control", @id = "txtDesc", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtEnDesc" class="control-label">توضیحات انگلیسی</label>
                    @Html.TextAreaFor(m => m.EnDescription, new { placeholder = "توضیحات انگلیسی", @class = "form-control", @id = "txtEnDesc", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtArDesc" class="control-label">توضیحات عربی</label>
                    @Html.TextAreaFor(m => m.ArDescription, new { placeholder = "توضیحات عربی", @class = "form-control", @id = "txtArDesc", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.Id);
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>