@using NiksoftCore.SystemBase.Service;
@using NiksoftCore.Bourse.Service;
@model MediaCategorySearch
@{
    ViewData["Title"] = "مدیریت نرخ کارمزد";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<MediaCategory>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;

    var isSearch = (bool)ViewBag.Search;
    var accSearch = isSearch ? "class='accordion-collapse collapse show'" : "class='accordion-collapse collapse'";
    var accBtn = isSearch ? "aria-expanded='true'" : "";
}
<div class="text-right">
    <a href="/Panel/MediaCategoryManage/SubCreate/?ParentId=@Model.ParentId" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    <a href="#searchAcc" data-toggle="collapse" class="btn btn-outline-info btn-sm" @Html.Raw(accBtn)>
        <i class="fa fa-search"></i>
    </a>
    <a href="/Panel/MediaCategoryManage" class="btn btn-outline-info btn-sm">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>
<div id="searchAcc" @Html.Raw(accSearch) aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <hr />
        <form method="get">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txtTitle" class="control-label">عنوان</label>
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                    </div>
                </div>
                <div class="col-sm-3" style="padding-top: 29px;">
                    <button type="submit" class="btn btn-outline-info">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">توضیحات</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.Title</td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @if (item.Enabled)
                        {
                            <a href="/Panel/MediaCategoryManage/Enable?Id=@item.Id" class="btn btn-outline-success btn-sm">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        else
                        {
                            <a href="/Panel/MediaCategoryManage/Enable?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-times"></i>
                            </a>
                        }
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/MediaCategoryManage/SubCreate?Id=@item.Id&ParentId=@item.ParentId" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/MediaCategoryManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>