@using NiksoftCore.ITCF.Service
@model NiksoftCore.ITCF.Service.ProductFileRequest
@{
    ViewData["Title"] = "افزودن فایل";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var product = (Product)ViewBag.Product;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/CompanyDataManage/ProductFiles/@product.Id" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/CompanyDataManage/CreateFile" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtFaTitle" class="control-label">عنوان فارسی</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان فارسی", @class = "form-control", @id = "txtFaTitle" })
                </div>
                <div class="form-group">
                    <label for="txtEnTitle" class="control-label">عنوان انگلیسی</label>
                    @Html.TextBoxFor(m => m.EnTitle, new { placeholder = "عنوان انگلیسی", @class = "form-control", @id = "txtEnTitle" })
                </div>
                <div class="form-group">
                    <label for="txtFaTitle" class="control-label">عنوان عربی</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان فارسی", @class = "form-control", @id = "txtFaTitle" })
                </div>
                <div class="form-group">
                    <label for="FileData" class="btn btn-info">
                        انتخاب تصویر
                        <input asp-for="FileData" type="file" class="d-none" />
                    </label>
                    @if (!string.IsNullOrEmpty(Model.Path))
                    {
                        <img src="/@Model.Path" style="width: 80px;" />
                    }
                </div>
                <div class="form-group">
                    <label for="txtFaDesc" class="control-label">توضیحات فارسی</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "توضیحات فارسی", @class = "form-control", @id = "txtFaDesc", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtEnDesc" class="control-label">توضیحات انگلیسی</label>
                    @Html.TextAreaFor(m => m.EnDescription, new { placeholder = "توضیحات انگلیسی", @class = "form-control", @id = "txtEnDesc", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtArDesc" class="control-label">توضیحات عربی</label>
                    @Html.TextAreaFor(m => m.ArDescription, new { placeholder = "توضیحات عربی", @class = "form-control", @id = "txtArDesc", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ProductId)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>