
@using NiksoftCore.SystemBase.Service
@model NiksoftCore.ViewModel.UserProfileRequest
@{
    ViewData["Title"] = "پروفایل کاربری";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/UserProfileManage" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtFirstname" class="control-label">نام</label>
                    @Html.TextBoxFor(m => m.Firstname, new { placeholder = "نام کاربری", @class = "form-control", @id = "txtFirstname" })
                </div>
                <div class="form-group">
                    <label for="txtLastname" class="control-label">نام خانوادگی</label>
                    @Html.TextBoxFor(m => m.Lastname, new { placeholder = "نام خانوادگی", @class = "form-control", @id = "txtLastname" })
                </div>
                <div class="form-group">
                    <label for="txtMobile" class="control-label">موبایل</label>
                    @Html.TextBoxFor(m => m.Mobile, new { placeholder = "موبایل", @class = "form-control", @id = "txtMobile" })
                </div>
                <div class="form-group">
                    <label for="txtPhoneNumber" class="control-label">تلفن</label>
                    @Html.TextBoxFor(m => m.Tel, new { placeholder = "تلفن", @class = "form-control", @id = "txtPhoneNumber" })
                </div>
                <div class="form-group">
                    <label for="txtZipCodeNumber" class="control-label">کد پستی</label>
                    @Html.TextBoxFor(m => m.ZipCode, new { placeholder = "کد پستی", @class = "form-control", @id = "txtZipCodeNumber" })
                </div>
                <div class="form-group">
                    <label for="AvatarFile" class="btn btn-warning">
                        تصویر چهره
                        <input asp-for="AvatarFile" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtPhoneNumber" class="control-label">آدرس</label>
                    @Html.TextAreaFor(m => m.Address, new { placeholder = "آدرس", @class = "form-control", @id = "txtPhoneNumber", rows = "3" })
                </div>

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UserId)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>