@using NiksoftCore.SystemBase.Service;
@using NiksoftCore.Bourse.Service;
@model ReportSearch
@{
    ViewData["Title"] = "گزارش فعالیت ها";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<BaseTransaction>)ViewBag.Contents;
    int pageNumber = 0;
}
<div>
    <div class="accordion-body">
        <hr />
        <form method="get">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="txtStart" class="control-label">شروع دوره</label>
                        @Html.TextBoxFor(m => m.Start, new { placeholder = "شروع", @class = "form-control", @id = "txtStart" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="txtEnd" class="control-label">پایان دوره</label>
                        @Html.TextBoxFor(m => m.End, new { placeholder = "پایان", @class = "form-control", @id = "txtEnd" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.Code)
                <div class="col-sm-1" style="padding-top: 29px;">
                    <button type="submit" class="btn btn-outline-info">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">دوره</th>
                <th class="text-primary text-center">کد بازاریاب</th>
                <th class="text-primary text-center">نام بازاریاب</th>
                <th class="text-primary text-center">کد مشاور</th>
                <th class="text-primary text-center">نام مشاور</th>
                <th class="text-primary text-center">شماره قرارداد</th>
                <th class="text-primary text-center">کد مشتری</th>
                <th class="text-primary text-center">نام مشتری</th>
                <th class="text-primary text-center">مبلغ آورده مشتری</th>
                <th class="text-primary text-center">کارمزد مشاور بازاریابی</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@pageNumber</td>
                    <td>@item.Period</td>
                    <td>@item.MarketerCode</td>
                    <td>@item.MarketerName</td>
                    <td>@item.ConsultantCode</td>
                    <td>@item.ConsultantName</td>
                    <td>@item.ContactNo</td>
                    <td>@item.UserCode</td>
                    <td>@item.FullName</td>
                    <td>@item.InputAmount.ToString("N0")</td>
                    <td>@item.ConsultantWage.ToString("N0")</td>
                </tr>
            }
            <tr class="text-info">
                <td colspan="9">مجموع</td>
                <td>@contents.Sum(x => x.InputAmount).ToString("N0")</td>
                <td>@contents.Sum(x => x.ConsultantWage).ToString("N0")</td>
            </tr>
        </tbody>
    </table>
</div>