@using NiksoftCore.ITCF.Service
@{
    Layout = "~/Areas/Business/Views/Shared/_FaLayout2.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var theCom = (Business)ViewBag.TheCom;
    var Contents = (List<Introduction>)ViewBag.Contents;
    var Products = (List<Product>)ViewBag.Products;

    var firstItem = Contents.Where(x => x.KeyValue == "unit1").First();
    var secondItems = Contents.Where(x => x.KeyValue == "unit2");
    var cc1 = 0;
    ViewData["Title"] = theCom.CoName;
}


<div class="content-wrapper">
    <section class="hero-section">
        <h2 class="hidden">@theCom.CoName</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="rev_slider_wrapper" style="direction: ltr;">
                        <div class="fullwidth_slider rev_slider" data-arrows="false" data-height="600">
                            <ul>
                                <li data-transition="fade">
                                    <img src="/@firstItem.ImageFile" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                    <div class="tp-caption WhiteTtl tp-resizeme"
                                         data-x="center" data-hoffset="0"
                                         data-y="middle" data-voffset="-32"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
                                         data-transform_out="opacity:0;s:500;s:500;"
                                         data-start="1300"
                                         data-fontsize="['50','45','35','30']"
                                         data-responsive_offset="on">
                                        @firstItem.Title
                                    </div>

                                    <div class="tp-caption WhiteTtlp tp-resizeme"
                                         data-x="center" data-hoffset="0"
                                         data-y="middle" data-voffset="32"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
                                         data-transform_out="opacity:0;s:500;s:500;"
                                         data-start="1700"
                                         data-fontsize="['30','25','20','16']"
                                         data-responsive_offset="on">
                                        @firstItem.Description
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us-section items">
        <div class="container-fluid">
            @foreach (var item in secondItems)
            {
                cc1++;
                if (cc1 == 1)
                {
                    @Html.Raw("<div class='row bg-alfa pos-relative'>")
                    <div class="col-md-4 no-padding pos-static">
                        <div class="row-bg left">
                            <img src="/@item.ImageFile" alt="skills section">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="about-item">
                            <i class="icon icon-House"></i>
                            <h4>@item.Title</h4>
                            <p class="description">@item.Description</p>
                            <p class="number">01</p>
                        </div>
                    </div>
                }
                else if (cc1 == 2)
                {
                    <div class="col-md-4 no-padding pos-static">
                        <div class="row-bg">
                            <img src="/@item.ImageFile" alt="skills section">
                        </div>
                    </div>
                    @Html.Raw("</div><div class='row bg-alfa pos-relative'>")
                    <div class="col-md-4 no-padding">
                        <div class="about-item">
                            <i class="icon icon-Presentation"></i>
                            <h4>@item.Title</h4>
                            <p class="description">@item.Description</p>
                            <p class="number">02</p>
                        </div>
                    </div>
                }
                else if (cc1 == 3)
                {
                    <div class="col-md-4 no-padding pos-static">
                        <div class="row-bg center">
                            <img src="/@item.ImageFile" alt="skills section">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="about-item">
                            <i class="icon icon-Lightbulb"></i>
                            <h4>@item.Title</h4>
                            <p class="description">@item.Description</p>
                            <p class="number">03</p>
                        </div>
                    </div>
                    @Html.Raw("</div>")
                }
            }
        </div>
    </section>

    <section class="team-members-section clean">
        <div class="container">
            <div class="section-header">
                <h5 class="subtitle">محصولات</h5>
                <h2>نمونه محصولات</h2>
                <span><i></i></span>
            </div>

            <div class="row">
                @foreach (var item in Products)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member v2">
                            <div class="cover">
                                <img src="/@item.Image" alt="team member avatar">
                                <div class="hover">
                                    <ul class="socials clean-list">
                                        <li><a href="#"><i class="fa fa-facebook-square facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-square pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="name">@item.Title</h6>
                            <span class="position">@item.ProductGroup.Title</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="features-section v2">
        <div class="container-fluid">
            <div class="map-frame">
                @Html.Raw(theCom.Location)
            </div>
        </div>
    </section>
</div>
