@using NiksoftCore.ITCF.Service
@model NiksoftCore.ITCF.Service.ProductSearchRequest
@{
    ViewData["Title"] = "محصولات";
    Layout = "~/Areas/Business/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    var Contents = (List<Product>)ViewBag.Contents;
    var Categories = (List<BusinessCategory>)ViewBag.Categories;
    var ParentItem = (BusinessCategory)ViewBag.Parent;

    var loginedHide = User.Identity.IsAuthenticated ? "style='display: none;'" : "";
    var loginedShow = !User.Identity.IsAuthenticated ? "style='display: none;'" : "";
}



<div class="content-wrapper">
    <section class="content-section">
        <div class="container">
            <div class="section-header">
                <h1>محصولات</h1>
                <span><i></i></span>
                <p>محصولات موجود بر اساس دسته بندی ها</p>
            </div>

            <div class="row">
                <div class="col-md-9 col-content">
                    <div class="shop-options">
                        <div class="custom-select">
                            <span class="default"><span class="content">مرتب سازی</span></span>
                            <ul class="select-options">
                                <li><a href="/Business/ProductInCategory?OrderType=1">آخرین محصولات</a></li>
                                <li>پرفروش ترین ها</li>
                                <li>محبوب ترین ها</li>
                                <li>امتیاز ها</li>
                            </ul>
                        </div>
                        <span class="results">صفحه @pager.Part از @pager.GetTotalParts()</span>
                    </div>

                    <div class="row row-fit-10">
                        @foreach (var product in Contents)
                        {
                            <div class="col-sm-4 col-xs-6">
                                <div class="shop-item-small">
                                    <div class="cover">
                                        <img src="~/@product.Image" alt="shop item">
                                        <a href="/Business/ProductInCategory/SingleProduct/@product.Id"></a>
                                    </div>
                                    <div class="category">
                                        <a href="/Business/ProductInCategory?CategoryId=@product.CategoryId">@product.BusinessCategory.Title</a>
                                    </div>
                                    <h6>
                                        <a href="/Business/ProductInCategory/SingleProduct/@product.Id">@product.Title</a>
                                    </h6>
                                    <div class="actions">
                                        <a class="add-btn shop shop-order" data-id="@product.Id" data-title="@product.Title" data-img="/@product.Image" href="#orderModal" data-toggle="modal" data-target="#orderModal">افزودن به سبد</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @if (pager.TotalSize > pager.PageSize)
                    {
                        <ul class="page-numbers shop">
                            <li><a class="prev page-numbers" href="@Context.Request.Path?part=1"><i class="fa fa-angle-right"></i></a></li>

                            @if (pager.GetStartShow() >= pager.MaxShow)
                            {
                                <li><a class="page-numbers" href="@Context.Request.Path?part=@pager.GetBackRang()">...</a></li>
                            }

                            @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
                            {
                                if (pager.Part == i)
                                {
                                    <li><span class="page-numbers current">@i</span></li>
                                }
                                else
                                {
                                    <li><a class="page-numbers" href="@Context.Request.Path?part=@i">@i</a></li>
                                }

                            }

                            @if (pager.GetTotalParts() > pager.MaxShow)
                            {
                                <li><a class="page-numbers" href="@Context.Request.Path?part=@pager.GetEndShow()">...</a></li>
                            }
                            <li><a class="next page-numbers" href="@Context.Request.Path?part=@pager.GetTotalParts()"><i class="fa fa-angle-left"></i></a></li>
                        </ul>
                    }

                </div>

                <div class="col-md-3 col-sidebar">
                    <div class="sidebar">
                        <div class="row isotope">
                            <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                                <div class="widget widget_search">
                                    <form class="search-form" method="get">
                                        <div class="input-line">
                                            @Html.TextBoxFor(m => m.Title, new { placeholder = "نام محصول", @class = "form-control" })
                                            <button class="search-submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                                <div class="widget widget_categories">
                                    <h4 class="widget-title">دسته بندی ها</h4>
                                    <ul>
                                        @if (ParentItem != null)
                                        {
                                            if (ParentItem.ParentId != null)
                                            {
                                                <li><a href="/Business/ProductInCategory?CategoryId=@ParentItem.ParentId">@ParentItem.Parent.Title</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Business/ProductInCategory?CategoryId=@ParentItem.ParentId">دسته های اصلی</a></li>
                                            }

                                        }

                                        @foreach (var cat in Categories)
                                        {
                                            <li><a href="/Business/ProductInCategory?CategoryId=@cat.Id">@cat.Title</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                                <div class="widget widget_tag_cloud">
                                    <h4 class="widget-title">کلید واژه های پرکاربرد</h4>
                                    <div class="tagcloud">
                                        @foreach (var cat in Categories)
                                        {
                                            <a href="/Business/ProductInCategory?CategoryId=@cat.Id">@cat.Title</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orderModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="part-loading loading1" style="display: none;">
                                <div class="loading-content">
                                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                    <div class="lo-text">لطفا کمی صبر کنید</div>
                                </div>
                            </div>

                            <div id="loginwrrap" class="order-form" @Html.Raw(loginedHide)>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="section-header pt-30">
                                        <h4>ورود به حساب کاربری</h4>
                                        <span><i></i></span>
                                        <p>جهت ادامه سفارش باید در حساب کاربری خود وارد شوید</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="txtUsername" type="text" class="form-control" placeholder="نام کاربری" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="txtPassword" type="password" class="form-control" placeholder="رمزعبور" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <p class="text-center">
                                        <a href="/Auth/Account/Register">جهت ثبت نام اینجا کلیک کنید</a>
                                    </p>
                                }
                            </div>

                            <div id="orderwrrap" class="login-form" @Html.Raw(loginedShow)>
                                <div class="section-header pt-30">
                                    <h4>ثبت سفارش</h4>
                                    <span><i></i></span>
                                    <p>جهت ثبت سفارش تعداد درخواستی خود را وارد کنید</p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="basket-item text-center">
                                            <img id="bimg" src="" class="img-responsive" />
                                            <br />
                                            <h5 id="btitle" class="p-title"></h5>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </span>
                                                <input id="txtOrderCount" type="text" class="form-control" placeholder="تعداد سفارش" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" id="closeOrder" class="btn btn-warning btn-sm" data-dismiss="modal">لغو درخواست</button>
                            <button type="button" id="btnOrderSave" class="btn btn-success btn-sm" @Html.Raw(loginedShow)>
                                <span>ثبت سفارش</span>
                            </button>
                            <button type="button" id="btnLogin" class="btn btn-success btn-sm" @Html.Raw(loginedHide)>
                                <span>ورود به سامانه</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var theProduct = {
        id: 0,
        title: '',
        img: '',
        count: 0
    };

    $(document).ready(function () {
        $('.shop-order').on('click', function () {
            var item = $(this);
            theProduct.id = item.data('id');
            theProduct.img = item.data('img');
            theProduct.title = item.data('title');
            $('#bimg').attr('src', theProduct.img);
            $('#btitle').text(theProduct.title);
        });

        $('#btnLogin').on('click', function () {
            var item = $(this);
            var username = $('#txtUsername').val();
            var password = $('#txtPassword').val();
            if (username == undefined || username === '') {
                showMessage({ text: 'نام کاربری را وارد کنید', type: 'error' });
                return false;
            }

            if (password == undefined || password === '') {
                showMessage({ text: 'رمز عبور را وارد کنید', type: 'error' });
                return false;
            }

            $('.loading1').show();
            callApi({
                url: '/api/base/AccountApi/SignInUser',
                data: {
                    Username: username,
                    Password: password,
                    RememberMe: true
                },
                success: function (data, status, xhr) {
                    if (data.status == 200) {
                        item.hide();
                        $('#loginwrrap').hide();
                        $('#orderwrrap').show();
                        $('#btnOrderSave').show();
                        showMessage({ text: 'ورود با موفقیت انجام شد', type: 'success' });
                    } else {
                        showMessage({ text: data.message, type: 'error' });
                    }

                    $('.loading1').hide();

                }
            });

        });

        $('#btnOrderSave').click(function () {
            var item = $(this);

            var theCount = $('#txtOrderCount').val();
            if (theCount == undefined || theCount === '') {
                showMessage({ text: 'تعداد سفارش را وارد کنید', type: 'error' });
                return false;
            }

            theProduct.count = faToEnNumbers(theCount);
            console.log(theProduct.count);
            if (isNaN(theProduct.count)) {
                showMessage({ text: 'تعداد سفارش را صحیح وارد کنید', type: 'error' });
                return false;
            }

            $('.loading1').show();
            rootObjects[0].SetBasket(theProduct.id, theProduct.count, afterSetBasket);
        });


    });

    function afterSetBasket() {
        $('#txtOrderCount').val('');
        $('#closeOrder').click();
        $('.loading1').hide();
    }

</script>