@using NiksoftCore.ITCF.Service
@{
    Layout = "~/Areas/Business/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var thisProduct = (Product)ViewBag.Product;
    var sameProducts = (List<Product>)ViewBag.SameProducts;
    var loginedHide = User.Identity.IsAuthenticated ? "style='display: none;'" : "";
    var loginedShow = !User.Identity.IsAuthenticated ? "style='display: none;'" : "";
    ViewData["Title"] = thisProduct.Title;
}

<div class="content-wrapper">
    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="photo-slider">
                        <div class="slick-carousel cover-photos-slider" data-breakpoint="0" data-items-desktop="1" data-dots="false" data-arrows="false" data-infinite="false">
                            <ul class="clean-list carousel-items">
                                <li class="carousel-item">
                                    <div class="image">
                                        <img src="/@thisProduct.Image" alt="product photo" />
                                        <a href="/@thisProduct.Image" class="photozoom"></a>
                                    </div>
                                </li>
                                @foreach (var item in thisProduct.Files)
                                {
                                    <li class="carousel-item">
                                        <div class="image">
                                            <img src="/@item.Path" alt="product photo" />
                                            <a href="/@item.Path" class="photozoom"></a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="slick-carousel nav-carousel" data-breakpoint="0" data-items-desktop="3" data-infinite="false" data-dots="true" data-arrows="false" data-items-to-slide="1" data-as-nav-for=".cover-photos-slider .carousel-items">
                            <ul class="clean-list carousel-items">
                                <li class="carousel-item">
                                    <div class="image">
                                        <img src="/@thisProduct.Image" alt="product photo" />
                                    </div>
                                </li>
                                @foreach (var item in thisProduct.Files)
                                {
                                    <li class="carousel-item">
                                        <div class="image">
                                            <img src="/@item.Path" alt="product photo" />
                                            <a href="/@item.Path" class="photozoom"></a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-description">
                        <h1>@thisProduct.Title</h1>
                        <ul class="rating clean-list">
                            <li class="count">امتیاز </li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>

                        <div class="entry">
                            <p>@thisProduct.Description</p>
                        </div>

                        <div class="actions">
                            <div class="cart">
                                <div class="quantity">
                                    <button class="btn yellow add-cart dark-hover shop-order" data-id="@thisProduct.Id" data-title="@thisProduct.Title" data-img="/@thisProduct.Image" data-toggle="modal" data-target="#orderModal">افزودن به سبد</button>
                                </div>
                            </div>

                            <p class="product-id">شرکت سازنده: <span>@thisProduct.Business.CoName</span></p>
                            <p class="category">دسته بندی: <span><a href="/Business/ProductInCategory?CategoryId=@thisProduct.CategoryId">@thisProduct.BusinessCategory.Title</a></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-tabs tabbed-content">
                <ul class="tabs">
                    <li class="tab-link current" data-tab="description">درباره تولید کننده</li>
                    <li class="tab-link d-none" data-tab="additional">سایر اطلاعات</li>
                    <li class="tab-link" data-tab="reviews">دیدگاه ها</li>
                </ul>


                <ul class="tabbed-body clean-list">
                    <li id="description" class="tab-content current">
                        <p>@thisProduct.Business.Description</p>
                    </li>

                    <li id="additional" class="tab-content">
                        <ul class="product-additional clean-list">
                            <li>Weight: 1.5 kg</li>
                            <li>Dimensions: 200 x 110 x 55 cm</li>
                            <li>Composition: 90% Leather, 10% Suede</li>
                            <li>Other Info: Machine wash according to instructions on care label</li>
                            <li>Size: Extra Large, Extra Small, Large, Medium, One Size Fits All, Small</li>
                        </ul>
                    </li>

                    <li id="reviews" class="tab-content">
                        <div class="reviews">
                            <ul class="reviews-list">
                                <li class="review">
                                    <div class="review-body">
                                        <div class="avatar">
                                            <img src="img/testimonial-4.png" alt="review img">
                                        </div>
                                        <h5 class="name">Rachel Williamson</h5>
                                        <p class="date">25 December 2015</p>
                                        <ul class="rating clean-list">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <p class="description">نظر مساعد دارم</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="review-form">
                            <h6 class="box-title">ثبت دیدگاه</h6>
                            <form class="respond-form" action="javascript:void(0);">
                                <div class="rating-select">
                                    <div class="stars">
                                        <span class="title">امتیاز دهی</span>
                                        <input class="star star-1" id="star-1" type="radio" name="star" />
                                        <label class="star star-1" for="star-1"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star" />
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star" />
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star" />
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-5" id="star-5" type="radio" name="star" />
                                        <label class="star star-5" for="star-5"></label>
                                    </div>
                                </div>

                                <div class="input-line">
                                    <input type="text" name="contact-name" class="check-value">
                                    <span>نام و نام خانوادگی</span>
                                </div>
                                <div class="input-line">
                                    <input type="text" name="contact-email" class="check-value">
                                    <span>ایمیل</span>
                                </div>

                                <div class="input-line textarea">
                                    <textarea class="check-value" name="contact-message" placeholder=""></textarea>
                                    <span>متن دیدگاه</span>
                                </div>
                                <button class="form-send btn yellow dark-hover" type="submit">ارسال دیدگاه</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="related-items">
                <h6 class="box-title">محصولات مرتبط</h6>

                <div class="row">
                    @foreach (var same in sameProducts)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="shop-item-small">
                                <div class="cover">
                                    <img src="/@same.Image" alt="shop item">
                                    <a href="@same.Id"></a>
                                </div>
                                <div class="category"><a href="#">@same.BusinessCategory.Title</a></div>
                                <h6><a href="single-product.html">@same.Business.CoName</a></h6>
                                <div class="actions">
                                    <a class="add-btn shop" href="#">افزودن به سبد</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div id="orderModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="part-loading loading1" style="display: none;">
                        <div class="loading-content">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <div class="lo-text">لطفا کمی صبر کنید</div>
                        </div>
                    </div>

                    <div id="loginwrrap" class="order-form" @Html.Raw(loginedHide)>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="section-header pt-30">
                                <h4>ورود به حساب کاربری</h4>
                                <span><i></i></span>
                                <p>جهت ادامه سفارش باید در حساب کاربری خود وارد شوید</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtUsername" type="text" class="form-control" placeholder="نام کاربری" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="txtPassword" type="password" class="form-control" placeholder="رمزعبور" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <p class="text-center">
                                <a href="/Auth/Account/Register">جهت ثبت نام اینجا کلیک کنید</a>
                            </p>
                        }
                    </div>

                    <div id="orderwrrap" class="login-form" @Html.Raw(loginedShow)>
                        <div class="section-header pt-30">
                            <h4>ثبت سفارش</h4>
                            <span><i></i></span>
                            <p>جهت ثبت سفارش تعداد درخواستی خود را وارد کنید</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <div class="basket-item text-center">
                                    <img id="bimg" src="" class="img-responsive" />
                                    <br />
                                    <h5 id="btitle" class="p-title"></h5>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </span>
                                        <input id="txtOrderCount" type="text" class="form-control" placeholder="تعداد سفارش" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <button type="button" id="closeOrder" class="btn btn-warning btn-sm" data-dismiss="modal">لغو درخواست</button>
                    <button type="button" id="btnOrderSave" class="btn btn-success btn-sm" @Html.Raw(loginedShow)>
                        <span>ثبت سفارش</span>
                    </button>
                    <button type="button" id="btnLogin" class="btn btn-success btn-sm" @Html.Raw(loginedHide)>
                        <span>ورود به سامانه</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var theProduct = {
        id: 0,
        title: '',
        img: '',
        count: 0
    };

    $(document).ready(function () {
        $('.shop-order').on('click', function () {
            var item = $(this);
            theProduct.id = item.data('id');
            theProduct.img = item.data('img');
            theProduct.title = item.data('title');
            $('#bimg').attr('src', theProduct.img);
            $('#btitle').text(theProduct.title);
        });

        $('#btnLogin').on('click', function () {
            var item = $(this);
            var username = $('#txtUsername').val();
            var password = $('#txtPassword').val();
            if (username == undefined || username === '') {
                showMessage({ text: 'نام کاربری را وارد کنید', type: 'error' });
                return false;
            }

            if (password == undefined || password === '') {
                showMessage({ text: 'رمز عبور را وارد کنید', type: 'error' });
                return false;
            }

            $('.loading1').show();
            callApi({
                url: '/api/base/AccountApi/SignInUser',
                data: {
                    Username: username,
                    Password: password,
                    RememberMe: true
                },
                success: function (data, status, xhr) {
                    if (data.status == 200) {
                        item.hide();
                        $('#loginwrrap').hide();
                        $('#orderwrrap').show();
                        $('#btnOrderSave').show();
                        showMessage({ text: 'ورود با موفقیت انجام شد', type: 'success' });
                    } else {
                        showMessage({ text: data.message, type: 'error' });
                    }

                    $('.loading1').hide();

                }
            });

        });

        $('#btnOrderSave').click(function () {
            var item = $(this);

            var theCount = $('#txtOrderCount').val();
            if (theCount == undefined || theCount === '') {
                showMessage({ text: 'تعداد سفارش را وارد کنید', type: 'error' });
                return false;
            }

            theProduct.count = faToEnNumbers(theCount);
            console.log(theProduct.count);
            if (isNaN(theProduct.count)) {
                showMessage({ text: 'تعداد سفارش را صحیح وارد کنید', type: 'error' });
                return false;
            }

            $('.loading1').show();
            rootObjects[0].SetBasket(theProduct.id, theProduct.count, afterSetBasket);
        });


    });

    function afterSetBasket() {
        $('#txtOrderCount').val('');
        $('#closeOrder').click();
        $('.loading1').hide();
    }

</script>