@model NiksoftCore.ViewModel.UserProfileRequest
@{
    ViewData["Title"] = "ثبت اطلاعات کاربری";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}

<style>
    .field-validation-error {
        color: #b3103d;
    }
</style>
<div class="container">
    <div class="page-title">
        <h1 class="text-center">ثبت اطلاعات کاربری</h1>
        <p>اطلاعات خود را اینجا تکمیل نموده و در صورت عدم مشکل اطلاعات شما ثبت و شما به صفحه اصلی سایت هدایت می شوید</p>
    </div>

    <form action="/SearchUser/RegisterUserInfo" method="post">
        <div class="logindiv">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="form-group">
                        <label for="TxtFirstname" class="control-label">نام</label>
                        @Html.TextBoxFor(m => m.Firstname, new { placeholder = "نام کاربری", @class = "form-control", @id = "TxtFirstname" })
                        @Html.ValidationMessageFor(m => m.Firstname)
                    </div>

                    <div class="form-group">
                        <label for="TxtLastname" class="control-label">نام خانوادگی</label>
                        @Html.TextBoxFor(m => m.Lastname, new { placeholder = "نام خانوادگی", @class = "form-control", @id = "TxtLastname" })
                        @Html.ValidationMessageFor(m => m.Lastname)
                    </div>

                    <div class="form-group">
                        <label for="TxtMobile" class="control-label">موبایل</label>
                        @Html.TextBoxFor(m => m.Mobile, new { placeholder = "موبایل", @class = "form-control", @id = "TxtMobile" })
                        @Html.ValidationMessageFor(m => m.Mobile)
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-dark btn-full btn-br-0">ثبت اطلاعات</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }
    });
</script>