@model NiksoftCore.ViewModel.User.LoginRequest
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}

<style>
    .field-validation-error {
        color: #b3103d;
    }
</style>
<div class="bg-brand">
    <div class="container">
        <div class="login-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="login-form form-round">
                        <div class="login-form-header">
                            <div class="login-logo">
                                <img src="https://codex-themes.com/themes/cryption/wp-content/uploads/sites/9/ct-logos/logo_8b9ab77e92066b3f3ae49839c835f242_1x.png" />
                            </div>
                            <div class="login-title">
                                <h4>Global Crypto Login</h4>
                            </div>
                        </div>
                        <div class="login-form-body">
                            <form action="/Auth/Account/Login" method="post">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Username, new { placeholder = "User Name", @class = "form-control", @id = "TxtUsername" })
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @id = "TxtPassword" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="checkbox">
                                    <label for="chbOtp">
                                        <input type="checkbox" id="chbOtp" />
                                        Login with SMS
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark btn-full btn-br-0">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="login-img"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }
    });
</script>