@using NiksoftCore.ITCF.Service
@model NiksoftCore.ITCF.Service.PurchaseCheckRequest
@{
    ViewData["Title"] = "بررسی درخواست";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var theContent = (UserPurchase)ViewBag.Content;
    var theUser = (UserModel)ViewBag.User;
    var profile = (UserProfile)ViewBag.Profile;
    var theBusiness = (Business)ViewBag.Business;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/PurchaseManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/PurchaseManage/CheckRequest" method="post">
    <div class="registerdiv">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <td class="bg-dark" colspan="5">اطلاعات مشتری</td>
                    </tr>
                    <tr>
                        @if (profile != null)
                        {
                            <td>نام: @profile.Firstname @profile.Lastname</td>
                        }

                        <td>تلفن: @theUser.PhoneNumber</td>
                        <td>محصول: @theContent.Product.Title</td>
                        <td>شرکت تولید کننده: @theContent.Product.Business.CoName</td>
                        <td>تعداد سفارش: @theContent.Count</td>
                    </tr>
                    <tr>
                        <td class="bg-dark" colspan="5">اطلاعات تولید کننده</td>
                    </tr>
                    <tr>
                        <td>شرکت: @theBusiness.CoName</td>
                        <td>شماره تماس: @theBusiness.Tel</td>
                        <td>ایمیل: @theBusiness.Email</td>
                        <td>وبسایت: @theBusiness.Website</td>
                        <td>آدرس: @theBusiness.Address</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="DeliveryType" class="control-label">نوع سفارش</label>
                    <select class="form-control m-b" asp-for="DeliveryType" asp-items="ViewBag.DeliveryTypes">
                    </select>
                    <span asp-validation-for="DeliveryType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Status" class="control-label">وضعیت سفارش</label>
                    <select class="form-control m-b" asp-for="Status" asp-items="ViewBag.Statuses">
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="txtUnitAmount" class="control-label">مبلغ واحد (ریال)</label>
                    @Html.TextBoxFor(m => m.UnitAmount, new { placeholder = "مبلغ واحد", @class = "form-control", @id = "txtUnitAmount" })
                    @Html.ValidationMessageFor(m => m.UnitAmount)
                </div>
                <div class="form-group">
                    <label for="txtTransportAmount" class="control-label">هزینه ارسال (ریال)</label>
                    @Html.TextBoxFor(m => m.TransportAmount, new { placeholder = "عنوان", @class = "form-control", @id = "txtTransportAmount" })
                    @Html.ValidationMessageFor(m => m.TransportAmount)
                </div>
                <div class="form-group">
                    <label for="txtPrePayment" class="control-label">پیش پرداخت (ریال)</label>
                    @Html.TextBoxFor(m => m.PrePayment, new { placeholder = "پیش پرداخت", @class = "form-control", @id = "txtPrePayment" })
                    @Html.ValidationMessageFor(m => m.PrePayment)
                </div>
                @Html.HiddenFor(m => m.Id)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>