
@using NiksoftCore.ITCF.Service;
@model UserPurchaseGridRequest
@{
    ViewData["Title"] = "مدیریت درخواست ها";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var contents = (List<UserPurchase>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
}
@*<div class="text-right">
        <div class="btn-group">
            <a href="/Panel/BusinessManage/Create" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
        </div>
    </div>*@

<hr />
<form method="get">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="DeliveryType" class="control-label">نوع سفارش</label>
                <select class="form-control m-b" asp-for="DeliveryType" asp-items="ViewBag.DeliveryTypes">
                </select>
                <span asp-validation-for="DeliveryType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Status" class="control-label">وضعیت سفارش</label>
                <select class="form-control m-b" asp-for="Status" asp-items="ViewBag.Statuses">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3" style="padding-top: 29px;">
            <button type="submit" class="btn btn-outline-info">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
<hr />

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">شماره تماس</th>
                <th class="text-primary text-center">محصول</th>
                <th class="text-primary text-center">تعداد</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center" width="150px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.User.PhoneNumber</td>
                    <td>@item.Product.Title</td>
                    <td>
                        @item.Count
                    </td>
                    <td>
                        @Tools.GetPurchaseStatusName(item.Status)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/PurchaseManage/CheckRequest?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/PurchaseManage/Reject?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @if (pager.GetStartShow() >= pager.MaxShow)
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
                }

                @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }

                @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
                {
                    <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>